
<div class="container menu">
  <div class="row">
    <div class="col-md-10">
      <ul class="nav">
        <li routerLinkActive="active"><a routerLink="../sLease">Lease</a></li>
        <li routerLinkActive="active"><a routerLink="../sTactic">Tactic</a></li>
      </ul>
    </div>
  </div>
</div>

      
   
<div class="container lease_container">
  <div class="row">
    <div class="col-md-10">

      <form class="form-horizontal">
        <div class="form-group">
          
            <input type="number"  min="0" class="form-control" name="lease.amount" placeholder="Enter Amount" [(ngModel)]="lease.amount">
         </div>
        <div class="form-group">
          
            <input type="number" min="0" class="form-control" id="downpayment" name="lease.downpayment" placeholder="Enter Downpayment" [(ngModel)]="lease.downpayment">
          
        </div>
        <div class="form-group">
          
            <input type="number" min="0" class="form-control" id="ramount" name="lease.remainingAmount" placeholder="Enter Remaining Amount" [(ngModel)]="lease.remainingAmount">

          
        </div>

        <div class="form-group">
         
            <select class="form-control" id="term" [(ngModel)]="lease.term" name="lease.term" >
  
              <option value="">Select Term</option>
              <option>Monthly</option>
              <option>Quarterly</option>
              <option>Half-Yearly</option>
              <option>Yearly</option>
            </select>
         </div>

        <div class="form-group">
          
            <select class="form-control" id="rate" [(ngModel)]="lease.rate" name="lease.rate">
              <option  value="0">Select Rate</option>
              <option>8</option>
              <option>8.5</option>
              <option>10</option>
              <option>11</option>
            </select>
         
        </div>

        <div class="form-group">
          
            <select class="form-control" id="bank" [(ngModel)]="lease.bank" name="lease.bank" (change)="onChangeBank()">
              <option selected value=""> Select Bank</option>
              <option >SBI</option>
              <option >HDFC</option>
              <option>AXIS</option>
              <option>UBI</option>
            </select>
          
        </div>

      </form>
    </div>
  </div>
  <!-- button added -->
  <div class="row prev-button">
    <div class="col-md-12">
   
      <button class="btn btn-primary nav-item nav-link-edit " type="button" id="prev-btn" [routerLink]="['../']"
        style="color: white;">
        << Previous </button> </div> </div> <div class="row next-button">
          <div class="col-md-12">
        
            <button class="btn btn-primary nav-item nav-link-edit " type="button" id="next-btn" [routerLink]="['../valDate']"
              style="color: white;" (click)="check()">
              Next >>
            </button>
          </div>

    </div>

  </div>