

.lease_container
{
    /* padding-top: 0px; */
    /* padding-right: 30px;
    padding-left: 130px; */
    margin-left: 10%;
    margin-top: 1%;
    
}



.prev-button {
    position: absolute;
    top : 120%;
    bottom: 0px;
    left: 20%;
    transform: translateX(-50%);
  }
  .next-button
  {
    position: absolute;
    top : 120%;
    bottom: 0px;
    left: 85%;
    transform: translateX(-50%);
  }
 

  .form-control:hover {
    border-color: rgb(195, 195, 199);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #62626499;
  }