<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-primary ">
    <div class="d-flex flex-grow-1">
        <a class="navbar-brand" href="#">OFFER MANAGEMENT SYSTEM</a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">LOGIN</a>
                        <a class="dropdown-item" href="#">SIGN UP</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="d-flex flex-md-fill flex-shrink-1 justify-content-end order-3">
            <form class="d-flex flex-nowrap align-items-center">
                <input class="form-control border-right-0 mr-n1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search">SEARCH</i></button>
            </form>
        </div>
    </div>
</nav>

