<div class="container-fluid">
  <div class="col-md-5">
    <div class="search-hero">
      <input class="form-control" type="text and number and date " name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching " (change)="myFunction()">
    </div>
  </div>
  
  <table class="table table-condensed table-hover table-bordered ">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Tactic Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th>Non-monetary Amount</th>
        <th>Notes</th>
        <th>Messages</th>
        <th>Creation Date</th>
        <th>Creation Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tactic of tactics | paginate: { itemsPerPage: 10, currentPage: p }| filter : searchText" >
        <td>{{tactic.tacticName}}</td>
        <td>{{tactic.tacticType}}</td>
        <td>{{tactic.startDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{tactic.endDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{tactic.monetaryAmt}}</td>
        <td>{{tactic.nonMonetaryAmt}}</td>
        <td>{{tactic.notes}}</td>
        <td>{{tactic.messages}}</td>
        <td>{{tactic.tacticCreationTime| date: 'dd/MM/yyyy'}}</td>
        <td>{{tactic.tacticCreationTime| date:'h:mm a '}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
