.main
{
    background-color: #EFEFEF;
    border: none;
    
    box-shadow: 10px 10px 10px #7F7F7F;
}

.main:hover{
    background-color: #F8F8F8;
    box-shadow: 10px 10px 10px #7F7F7F;
  }

.sub
{
    background-color: #dbdbdb;
    border: none;
    border-radius: 25px;    
    transition-duration: 0.2s;
    box-shadow: 5px 10px 8px  #6b6a6a;
    
}
.sub:hover
{
    box-shadow: 10px 10px  4px #3f3e3e;
}

.list-group-item
{
    background-color: #dbdbdb;
}

.back{
    margin-top: 5%;
    margin-left: 2%;
}

.create{
    margin-top: 5%;
    margin-left: 72%
}