<div class="wrapper d-flex align-items-stretch">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar">
            <div class="logo">
                <img src="assets/picture/LOGO_OMS.png" class="img-responsive center-block" alt="Logo">
            </div>
            <br>

            <div class="left-navigation">
                <ul class="list">
                    <h5><strong>OFFER</strong></h5>
                    <li routerLinkActive="active"><a routerLink="/createoffer">CREATE OFFER</a></li>
                    <li routerLinkActive="active"><a routerLink="/viewoffer">VIEW OFFER</a></li>
                </ul>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        OFFER
                    </button>
                    <div class="dropdown-menu">
                        <li routerLinkActive="active"><a routerLink="/createoffer">CREATE OFFER</a></li>
                        <li routerLinkActive="active"><a routerLink="/viewoffer">VIEW OFFER</a></li>
                    </div>
                </div>
                 <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        OFFER
                    </button>
                    <div class="dropdown-menu">
                        <li routerLinkActive="active"><a routerLink="/createoffer">CREATE OFFER</a></li>
                        <li routerLinkActive="active"><a routerLink="/viewoffer">VIEW OFFER</a></li>
                    </div>
                </div>
                <ul class="list">
                    <h5><strong>TACTICS</strong></h5>
                    <li routerLinkActive="active"><a routerLink="/createTactics">CREATE TACTICS</a></li>
                    <li routerLinkActive="active"><a routerLink="/viewTactics">VIEW TACTICS</a></li>
                </ul>

               
            </div>

        </div>
    </div>
</div>