
  
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3 style="text-align:center;">Menus</h3>
      </div>
  
      <ul class="list-unstyled components">
        <li routerLinkActive="active"><a routerLink="/dashboard"><span class="glyphicon glyphicon-home"></span>
            DASHBOARD</a></li>
  
        <li class="active">
          <a href="#offersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle glyphicon glyphicon-shopping-cart">Offers</a>
          <ul class="collapse list-unstyled" id="offersSubmenu">
            <li routerLinkActive="active"><a routerLink="/createoffer"><span class="glyphicon glyphicon-tag"></span>
                CREATE OFFER</a></li>
            <li routerLinkActive="active"><a routerLink="/viewoffer"><span class="glyphicon glyphicon-tag"></span> VIEW
                OFFER</a></li>
          </ul>
        </li>
  
        <li class="active">
          <a href="#tacticsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle glyphicon glyphicon-bookmark">Tactics</a>
          <ul class="collapse list-unstyled" id="tacticsSubmenu">
            <li routerLinkActive="active"><a routerLink="/createTactics"><span class="glyphicon glyphicon-tag"></span>
                CREATE TACTICS</a></li>
            <li routerLinkActive="active"><a routerLink="/viewTactics"><span class="glyphicon glyphicon-tag"></span> VIEW
                TACTICS</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Portfolio</a>
        </li>
        <li>
          <a href="#">Contacts</a>
        </li>
        <li>
          <a href="#">Privacy Policies
          </a>
        </li>
      </ul>
  
      <ul class="list-unstyled CTAs">
        <li>
          <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
        </li>
        <li>
          <a href="#" class="article">Back to dashboard</a>
        </li>
      </ul>
    </nav>
