
 
 .sidebar{
   
    margin-top: 5%;
    position: absolute;
    height: 100%;
    background-color: #beafafda;
}





.logo {
    max-height: 150px;
}
.logo>img {
    margin-top: 30%;
    border: 3px solid white;
    border-radius: 100%;
}

.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
    
}

.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}

.list>h5:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}

a,li:visited {
    color: white;
    text-decoration: none;
  }
  
  
  a:hover {
    color: green;
    text-decoration: none;
  }
  

   a:active {
    color: rgb(230, 216, 27);
    text-decoration: none;
  }

  .btn-group{
      display:flex;
  } 

 