<!-- <div class="wrapper d-flex align-items-stretch">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar">
            <div class="logo">
                <img src="assets/picture/LOGO_OMS.png" class="img-responsive center-block" alt="Logo">
            </div>
            <br>

            <div class="left-navigation">
                <ul class="list">
                    <li routerLinkActive="active"><a routerLink="/dashboard"><span
                                class="glyphicon glyphicon-home"></span> DASHBOARD</a></li>
                </ul>

                <ul class="list">
                    <h5 data-toggle="collapse" href="#collapseoffer" role="button" aria-expanded="false"
                        aria-controls="collapseoffer"><strong><span class="glyphicon glyphicon-shopping-cart"></span>
                            OFFER</strong></h5>
                    <div class="collapse" id="collapseoffer" style="background-color: rgb(48,48,48);">

                        <li routerLinkActive="active" style="margin-left: 20%;"><a routerLink="/createoffer"><span
                                    class="glyphicon glyphicon-tag"></span> CREATE OFFER</a></li>
                        <li routerLinkActive="active" style="margin-left: 20%;"><a routerLink="/viewoffer"><span
                                    class="glyphicon glyphicon-tag"></span> VIEW OFFER</a></li>

                    </div>
                </ul>

                <ul class="list">
                    <h5 data-toggle="collapse" href="#collapsetactic" role="button" aria-expanded="false"
                    aria-controls="collapsetactic"><strong><span class="glyphicon glyphicon-bookmark"></span> TACTICS</strong></h5>
                    <div class="collapse" id="collapsetactic" style="background-color: rgb(48,48,48);">
                    <li routerLinkActive="active" style="margin-left: 20%;"><a routerLink="/createTactics"><span
                                class="glyphicon glyphicon-tag"></span> CREATE TACTICS</a></li>
                    <li routerLinkActive="active" style="margin-left: 20%;"><a routerLink="/viewTactics"><span
                                class="glyphicon glyphicon-tag"></span> VIEW TACTICS</a></li>
                    </div>
                </ul>

                <ul class="list">
                    <li routerLinkActive="active"><a routerLink="/dashboard"><span
                                class="glyphicon glyphicon-send"></span> ABOUT</a></li>
                    <li routerLinkActive="active"><a routerLink="/dashboard"><span
                                class="glyphicon glyphicon-earphone"></span> CONTACT</a></li>

                </ul>

            </div>

        </div>
    </div>
</div> -->
