<div class="container menu">
  <div class="row">
    <div class="col-md-10">
      <ul class="nav">
        <li routerLinkActive="active"><a routerLink="../sLease">Lease</a></li>
        <li routerLinkActive="active"><a routerLink="../sTactic">Tactic</a></li>
      </ul>
    </div>
  </div>
</div> 

  <div class="container tactic_container">
    <div class="row">
        <div class="col-md-10">
            <!-- start the form -->

            <form class="form-horizontal">
              
                <div class="form-group">
        
                    <select class="form-control" id="bank" [(ngModel)]="stactic.tactic" name="stactic.tactic">
                      <option value="">Select Tactic</option>
                      <option *ngFor="let tac of alltactic" value={{tac.tacticName}}>{{tac.tacticName}}</option>
                      
                    </select>
                  
                </div>

               
                  <div class="form-group">
                    
                      <input type="text" class="form-control" id="amount" placeholder="Enter Remarks" [(ngModel)]="stactic.remarks" name="stactic.remarks">
                    
                  </div>

            </form>
        </div>
    </div>
     <!-- button added -->
     <div class="row prev-button">
      <div class="col-md-12">        
       <!-- <button class="btn btn-primary  " 
           type="button" id="login-btn"routerLinkActive="active" style="color: white;"> 
           <a routerLink="/createoffer"> << Previous  </a>
       </button> -->
       <button class="btn btn-primary nav-item nav-link-edit " 
           type="button" id="prev-btn"  [routerLink]="['../']" style="color: white;"> 
           << Previous 
       </button> 
   </div>
  </div>
  
  

  <div class="row next-button">
      <div class="col-md-12">        
       <!-- <button class="btn btn-primary  " 
           type="button" id="login-btn"routerLinkActive="active" style="color: white;"> 
           <a routerLink="/createoffer"> << Previous  </a>
       </button> -->
       <button class="btn btn-primary nav-item nav-link-edit " 
           type="button" id="next-btn"  [routerLink]="['../valDate']" style="color: white;" (click)="check()" > 
           Next >> 
       </button> 
   </div>
  
  </div>

</div>
