
.card
{
  width: 100%;
}
.menu
{  
    /* font-family: Segoe UI;
    font-size: 16px; */
    color: black;

}

a{
  color: white;
}

a:hover{
  color : black;
}

.tactic_container
{
    padding-top: 40px; 
    padding-right: 30px;
    padding-left: 70px;
    font-family: Segoe UI;
    font-size: 18px;
}

.prev-button {
    position: absolute;
    top : 110%;
    bottom: 0px;
    left: 20%;
    transform: translateX(-50%);
  }
  .next-button
  {
    position: absolute;
    top : 110%;
    bottom: 0px;
    left: 85%;
    transform: translateX(-50%);
  }
  #tactic{
    background-color:#C1C0C0;
  }