<div class="card">
  <div class="card-body">
    <nav class="navbar navbar-expand-lg menu">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" id="lease"><a routerLink="../sLease">Lease</a></li>
        <li routerLinkActive="active" id="tactic"><a routerLink="../sTactic">Tactic</a></li>
      </ul>
    </nav>

    <div class="container tactic_container">
      <div class="row">
        <div class="col-md-9">

          <form class="form-horizontal">

            <div class="form-group">
              <div class="scrollit">
                <table class="table table-condensed table-hover table-bordered table-responsive-md table-striped">
                  <thead class="thead-dark">
                    <tr>
                      <th>Select</th>
                      <th>Name</th>
                      <th>Tactic Type</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Amount</th>
                      <th>Non-monetary Amount</th>
                      <th>Creation Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tactic of alltactic">
                      <td><input type="checkbox" (change)="onCheck(tactic.dTacticId)"/></td>
                      <td>{{tactic.tacticName}}</td>
                      <td>{{tactic.tacticType}}</td>
                      <td>{{tactic.startDate}}</td>
                      <td>{{tactic.endDate}}</td>
                      <td>{{tactic.monetaryAmt}}</td>
                      <td>{{tactic.nonMonetaryAmt}}</td>
                      <td>{{tactic.tacticCreationTime}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>


            <div class="form-group">
              <div class="col-md-12">
                <input type="text" class="form-control" id="remarks" placeholder="Enter Remarks"
                  [(ngModel)]="stactic.remarks" name="stactic.remarks">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input type="text" class="form-control" id="marketingMessage" placeholder="Enter Marketing Message"
                  [(ngModel)]="stactic.mktMsg" name="stactic.mktMsg">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input type="text" class="form-control" id="notes" placeholder="Enter Notes"
                  [(ngModel)]="stactic.notes" name="stactic.notes">
              </div>
            </div>


          </form>
        </div>
      </div>
      <div>
        <button class="prev btn" type="button" id="prev-btn" [routerLink]="['../']">
          << Previous </button>
            <button class="next btn" type="button" id="next-btn" [routerLink]="['../valDate']"
              (click)="tacticSubmission()">
              Next >>
            </button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="card">
  <div class="card-body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark menu">
      <a class="navbar-brand" href="#">Lease/Tactic</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active" id="lease"><a routerLink="../sLease">Lease</a></li>
            <li routerLinkActive="active" id="tactic"><a routerLink="../sTactic">Tactic</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container tactic_container">
      <div class="row">
        <div class="col-md-9">
          <form class="form-horizontal">

            <div class="form-group">
              <table class="table table-condensed table-hover table-bordered my-custom-scrollbar ">
                <thead class="thead-dark">
                  <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Tactic Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Amount</th>
                    <th>Non-monetary Amount</th>
                    <th>Creation Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tactic of alltactic">
                    <td><input type="checkbox" [(ngModel)]="flag" name="flag" value="flag"
                        (change)="setName(tactic.dTacticId)" /></td>
                    <td>{{tactic.tacticName}}</td>
                    <td>{{tactic.tacticType}}</td>
                    <td>{{tactic.startDate}}</td>
                    <td>{{tactic.endDate}}</td>
                    <td>{{tactic.monetaryAmt}}</td>
                    <td>{{tactic.nonMonetaryAmt}}</td>
                    <td>{{tactic.tacticCreationTime}}</td>
                  </tr>
                </tbody>
              </table>

            </div>


            <div class="form-group">
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Enter Remarks" [(ngModel)]="stactic.remarks"
                  name="stactic.remarks">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Enter Marketing Message"
                  [(ngModel)]="stactic.mkt_message" name="stactic.mkt_message">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Enter Notes" [(ngModel)]="stactic.note"
                  name="stactic.note">
              </div>
            </div>


          </form>
        </div>
      </div>
      <div class="row prev-button">
        <div class="col-md-12">
          <button class="btn btn-secondary nav-item nav-link-edit " type="button" id="prev-btn" [routerLink]="['../']"
            style="color: white;">
            << Previous </button>
        </div>
      </div>



      <div class="row next-button">
        <div class="col-md-12">
          <button class="btn btn-secondary nav-item nav-link-edit " type="button" id="next-btn"
            [routerLink]="['../valDate']" style="color: white;" (click)="tacticSubmission()">
            Next >>
          </button>
        </div>

      </div>

    </div>
  </div>
</div> -->