.menu
{  
    font-family: Segoe UI;
    font-size: 16px;
    color: white;

}

a{
  color: white;
}

.tactic_container
{
    padding-top: 60px; 
    padding-right: 30px;
    padding-left: 130px;
    font-family: Segoe UI;
    font-size: 18px;
}

.prev-button {
    position: absolute;
    top : 120%;
    bottom: 0px;
    left: 20%;
    transform: translateX(-50%);
  }
  .next-button
  {
    position: absolute;
    top : 120%;
    bottom: 0px;
    left: 85%;
    transform: translateX(-50%);
  }