.next-button{
    margin-top: 4%;
    /*margin-left: 35%; */
    font-size: 24px;
}

.next-button:hover{

    color: black;
}

.vehicle,.geo
{
  margin-left: 8%;
}

input:hover
{
  box-shadow: 10px 10px 5px grey;
}

.form-control:hover {
  border-color: blue;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 111, 238, 0.6);
}
