<div class="container">
    <div class="row vehicle">
        <fieldset class="row vehicle">
            <legend class="row vehicle">Vehicle Category Selection</legend>
            <div class="col-md-12">
                <h4></h4>
                <div class="form-group  ">
                    <select class="form-control" [(ngModel)]="selectedModelGeo.brand" id="brand" type="text"
                        (change)="onSelectBrand($event)" required>
                        <option value="">Brand</option>
                        <option *ngFor="let sbrand of sortedBrand" value={{sbrand}}>{{ sbrand }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="selectedModelGeo.model" id="brand" type="text"
                        (change)="onSelectModel()" required>
                        <option value="" hidden>Model</option>
                        <option *ngFor="let smodel of sortedModel" value={{smodel}}>{{ smodel }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" [(ngModel)]="selectedModelGeo.bodyModel" id="brand" type="text"
                        (change)=onSelectBodyModel() required>
                        <option value="" selected>BodyModel</option>
                        <option *ngFor="let sbmodel of sortedBodyModel" value={{sbmodel}}>{{ sbmodel }}</option>

                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row geo">
        <fieldset class="row vehicle">
            <legend class="row vehicle"> Geography Selection</legend>
            <div class="col-md-12">

                <ng-multiselect-dropdown [placeholder]="'State'" [data]="sortedState"
                    [(ngModel)]="selectedModelGeo.state" [settings]="dropdownSettings" (onSelect)="onSelectState()">
                </ng-multiselect-dropdown>
                <br>
                <ng-multiselect-dropdown [placeholder]="'District'" [data]="sortedDistrict"
                    [(ngModel)]="selectedModelGeo.district" [settings]="dropdownSettings"
                    (onSelect)="onSelectDistrict()">
                </ng-multiselect-dropdown>
                <br>
                <ng-multiselect-dropdown [placeholder]="'City'" [data]="sortedCity" [(ngModel)]="selectedModelGeo.city"
                    [settings]="dropdownSettings" (onSelect)="onSelectCity()">
                </ng-multiselect-dropdown>
            </div>
        </fieldset>


    </div>

    <div class="row next-button text-right">
        <br>

        <div class="col-md-10">
            <button class="btn btn-secondary btn-lg nav-item nav-link-edit " type="button" id="next-btn"
                [routerLink]="['sLease']"
                [disabled]="(!selectedModelGeo.brand || !selectedModelGeo.model || 
                    !selectedModelGeo.bodyModel) || !(selectedModelGeo.state || selectedModelGeo.district || selectedModelGeo.city)"
                (click)="finalJson()" data-toggle="tooltip" data-placement="top" title="Click">
                <span>Next </span>
            </button>
        </div>
    </div>
</div>