/* .parent{
  overflow: hidden;
  z-index: 1000;
}
.background-image {
  background-repeat: no-repeat;
  position: fixed;
  z-index: -500;
  display: block;
  margin-left: -10%;
  margin-top: -10%; */
  /* background-image: url("../../../../assets/picture/aerial-photography-of-cars-on-road-intersection-186537.jpg"); */
  /* width: 1400px;
  height: 8000px; */
  /* -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px); */
/* }
.brand_container
{ */
    
    /* background-color: azure;  */
  /* padding-top: 0px; */
  /* padding-right: 30px; */
  /* padding-bottom: 60px; */
     /* margin-left:-5%; */
    /* padding: 0 80px;  */
    /* width: 80%; */
    /* font-family: Segoe UI;
    font-size: 20px; */
    /* //height: 200px;  */
    /* color:#001f3f;    
    margin-right: 10%;
} 
.card{
  box-shadow: 20px 10px 10px rgba(0,0,0,0.2);
  margin:2%;
  padding:2%;
  border-style: solid;
  border-color: black;
  border-width: 5px;;
  margin-right: 10%;
  transition: 0.5s;
  width:80%;
}

.card:hover{
  box-shadow: -20px -10px 40px rgba(0,0,0,0.4);
  transform: scale(1,1);
  background-color: gray;
  margin-left: 2%;
  width: 85%;
  z-index: 10;
  overflow:inherit;
  border-radius: 15px;
}
.geo_container
{ */
    
    /* background-color: azure;  */
  /* padding-top: 0px; */
  /* padding-right: 30px; */
  /* padding-bottom: 100px; */
  /* padding-left: 30px; */
    /* padding: 0 80px;  */
    /* width: 80%; */
    /* font-family: Segoe UI;
    font-size: 20px; */
    /* //height: 200px;  */
    /* color: #001f3f;    
} 

.next-button
{
  position: absolute;
  top: 110%;
  left:100%;
  transform: translateX(-50%);
  margin-top: -5%;
}
.mandatory{
  color: red;
} */

.next-button{
  /*margin-left: 35%; */
  font-size: 24px;
}

.next-button:hover{

  color: black;
}

/* .vehicle,.geo
{
margin-left: 8%;
} */
.container{
  align-content: center;
}
input:hover
{
box-shadow: 10px 10px 5px grey;
}

.form-control:hover {
border-color: rgb(195, 195, 199);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #62626499;
}
.vehicle{
  width: 90%;
  margin: 6%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #FFFFFF;
    box-shadow: 10px 10px 10px #7F7F7F;
}
fieldset.vehicle{
  border: 2px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.vehicle {
  width:inherit; 
  padding:0 10px;
  border-bottom:none;
  text-align: center;
}
.geo{
  width: 90%;
  margin: 6%;
  
}
fieldset.geo{
  border: 2px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
            
}
legend.geo{
  width:inherit; 
  padding:0 10px;
  border-bottom:none;
  text-align: center;
  background-color: #FFFFFF;
    box-shadow: 10px 10px 10px #7F7F7F;
}