<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-side-navigation></app-side-navigation>
    </div>
    <div class="col-md-10" id="display-body">
      <!-- <app-create-offer *ngIf="loadedFeature==='creating'"></app-create-offer>
        <app-show-offer *ngIf="loadedFeature==='viewing'"></app-show-offer> -->
      <router-outlet></router-outlet>

    </div>
  </div>

</div>