<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-header ></app-header>
    </div>
  </div>
</div>
<app-side-navigation></app-side-navigation>


<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-10" id="display-body">
        <app-create-offer *ngIf="loadedFeature==='creating'"></app-create-offer>
        <app-show-offer *ngIf="loadedFeature==='viewing'"></app-show-offer> 
        <router-outlet></router-outlet>
        
    </div>
  </div>
  
</div> -->
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3 style="text-align:center;">Menus</h3>
    </div>

    <ul class="list-unstyled components">
      <li routerLinkActive="active"><a routerLink="/dashboard"><span class="glyphicon glyphicon-home"></span>
          DASHBOARD</a></li>

      <li class="active">
        <a href="#offersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle glyphicon glyphicon-shopping-cart">Offers</a>
        <ul class="collapse list-unstyled" id="offersSubmenu">
          <li routerLinkActive="active"><a routerLink="/createoffer"><span class="glyphicon glyphicon-tag"></span>
              CREATE OFFER</a></li>
          <li routerLinkActive="active"><a routerLink="/viewoffer"><span class="glyphicon glyphicon-tag"></span> VIEW
              OFFER</a></li>
        </ul>
      </li>

      <li class="active">
        <a href="#tacticsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle glyphicon glyphicon-bookmark">Tactics</a>
        <ul class="collapse list-unstyled" id="tacticsSubmenu">
          <li routerLinkActive="active"><a routerLink="/createTactics"><span class="glyphicon glyphicon-tag"></span>
              CREATE TACTICS</a></li>
          <li routerLinkActive="active"><a routerLink="/viewTactics"><span class="glyphicon glyphicon-tag"></span> VIEW
              TACTICS</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contacts</a>
      </li>
      <li>
        <a href="#">Privacy Policies
        </a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
      </li>
      <li>
        <a href="#" class="article">Back to dashboard</a>
      </li>
    </ul>
  </nav>
  <div id="content">

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
      <div class="container-fluid">

        <!-- <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button> -->
        <router-outlet></router-outlet>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Page</a>
            </li>
          </ul>
        </div> -->
      </div>
    <!-- </nav> -->
  </div>
</div>