<form class="form">
    <fieldset class="formfieldset">
        <legend class="formlegend">Create Tactic</legend>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputName">Name</label>
                <input type="text" [(ngModel)]="tactic.tacticName" name="tactic.tacticName" class="form-control"
                    id="inputName" placeholder="Tactic Name">
            </div>
            <div class="form-group col-md-4">
                <label for="inputType">Type</label>
                <input type="number" name="tactic.tacticType" [(ngModel)]="tactic.tacticType" min="1" max="5"
                    class="form-control" id="inputType" placeholder="Tactic Type">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="startDate">Start Date</label>
                <input type="date" name="tactic.startDate" [(ngModel)]="tactic.startDate" class="form-control"
                    id="startDate" placeholder="DD/MM/YYYY">
            </div>
            <div class="form-group col-md-6">
                <label for="endDate">End Date</label>
                <input type="date" name="tactic.endDate" [(ngModel)]="tactic.endDate" class="form-control"
                    id="endDate" placeholder="DD/MM/YYYY">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="amount">Amount</label>
                <input type="number" name="tactic.monetaryAmt" [(ngModel)]="tactic.monetaryAmt" class="form-control"
                    id="amount" placeholder="Enter Tactic Monetary Amount">
            </div>
            <div class="form-group col-md-6">
                <label for="nonMonetaryAmount">Non Monetary Amount</label>
                <input type="text" name="tactic.nonMonetaryAmt" [(ngModel)]="tactic.nonMonetaryAmt" class="form-control"
                    id="nonMonetaryAmount" placeholder="Enter Non Monetary Amount">
            </div>
        </div>
        <div class="form-row">
            <label for="notes">Notes </label>
            <input type="text" name="tactic.notes" [(ngModel)]="tactic.notes" class="form-control" id="notes"
                placeholder="Enter Notes ">
        </div>
        <p style="white-space: pre;"></p>
        <div class="form-row">
            <label for="messages">Messages </label>
            <input type="text" name="tactic.messages" [(ngModel)]="tactic.messages" class="form-control" id="messages"
                placeholder="Enter Any Message">
        </div>
        <p style="white-space: pre;">
        </p>
        <div style="text-align:right;">
            <button type="submit" class="btn" (click)="submit()">Create</button>
        </div>
    </fieldset>
</form>