<!-- <div class="container">
    <div class="row" style="position: relative;">
        <div style = "position:relative; left:205px; top:200px;">
            <h1>hello</h1>
         </div>
    </div>
</div> -->

<div class="jumbotron text-center" >
    <h1>Offer Management System</h1>
    <p>Create and Manage Offer In A Single Click</p>
</div>


  
  <!-- <div class="container">
    <div class="row">
      width:85%; left: 120px;
      <div class="col-sm-4">
        <h3>Column 1</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
</div> -->

